/* Estilos gerais para a navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #333;
    color: #fff;
    position: relative;
    z-index: 10;
}

.navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #29C6D5; /* Cor do logo */
}

.navbar-links {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.nav-item a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

.nav-item a:hover {
    color: #29C6D5; /* Cor ao passar o mouse */
}

/* Estilos para dispositivos móveis */
.navbar-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
}

@media (max-width: 768px) {
    .navbar-links {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 0;
    }

    .navbar-links.active {
        display: flex;
    }

    .nav-item {
        margin: 0.5rem 0;
        text-align: center;
    }

    .navbar-toggle {
        display: block;
    }
}
